@import "tailwindcss";

@theme {
  /* This replaces the 'extend' section of your old config */
  --color-primary: #16a34a; 
  
  /* You can add more Farmart specific variables here */
  --color-brand-dark: #020617;
  --color-brand-light: #f0fdf4;
}

/* Global styles for visibility */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-slate-900;
  }
}